@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row justify-content-center align-items-center custom-top-margin">
    <div class="col-md-4 cardRegister font-white">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Crie a sua conta de gestor!</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating label-float">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email">Email</label>
            </div>
            <div class="form-floating label-float">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password">Senha</label>
            </div>
            <div class="form-floating label-float">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Confirmar senha</label>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary btn-tela-login">Registrar</button>
            <a class="w-100 mb-3 btn btn-lg btn-primary btn-tela-login btn-sou-aluno" asp-action="Index">Voltar</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
